<% layout("/layouts/boilerplate") %>
<body>
    <form method="post" action="/listings/<%=listing.id%>?_method=PATCH" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="col-8 offset-2">
            <h1>Edit here</h1>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" value="<%=listing.title%>" name="listing[title]" class="form-control" required>
                <div class="invalid-feedback">Please choose a valid title.</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label" >Description</label>
                <input type="text" value="<%=listing.description%>" name="listing[description]" class="form-control" required>
                <div class="invalid-feedback">Please choose a valid description.</div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label" >Image</label>
                <input type="file"  name="listing[image]" class="form-control">
                <div class="invalid-feedback">Please choose a valid image url.</div>
            </div>

            <div class="row">
                <div class="mb-3 col-4">
                    <label for="price" class="form-label" >Price</label>
                    <input type="text" value="<%=listing.price%>" name="listing[price]" class="form-control" required>
                    <div class="invalid-feedback">Please choose a valid price.</div>
                </div>
                <div class="mb-3 col-8">
                    <label for="country" class="form-label" >Country</label>
                    <input type="text" value="<%=listing.country%>" name="listing[country]" class="form-control" required>
                    <div class="invalid-feedback">Please choose a valid country.</div>
                </div>
            </div>
            
            <div class="mb-3">
                <label for="location" class="form-label" >Location</label>
                <input type="text" value="<%=listing.location%>" name="listing[location]" class="form-control" required>
                <div class="invalid-feedback">Please choose a valid location.</div>
            </div>
            
            <button class="mt-3 btn btn-dark edit-btn">Edit</button>
        </div>
    </form>
</body>